@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Rampart+One&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Kalam&family=Rampart+One&family=Sacramento&display=swap');
* {
    margin: 0;
    padding: 0;
}
.bg-container {
    background-image: url(https://images.unsplash.com/photo-1502675135487-e971002a6adb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80);
    height: 100vh;
    background-size: cover;
}
.heading {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family:'Cinzel', serif ;
    padding-top: 28px;
}
.models-card-container {
    background-color: white;
    width: 100vw ;
    display: flex;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.models-card-heading {
    font-size: 30px;
    font-family:'Cinzel', serif;
    padding: 5px;
    padding-left: 40px;
}

.models-card-paragraph {
    font-family: 'Kalam', cursive;
    padding-left: 10px;
}

.img-1 {
    width: 110px;
    padding: 10px;
    border-radius: 15px;

}
